<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <script src='../static/js/vue.min.js'></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.1.0/dist/echarts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-echarts@4.0.2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="../static/css/index1.css" type="text/css" />
</head>

<body>
    <div id="app">
        <el-container style="height: 740px; border: 1px solid #eee">
            <el-aside width="200px" style="background-color:#545c64">
                <el-menu :default-opened="['1','5']" background-color="#545c64" text-color="#fff"
                    active-text-color="#ffd04b" :unique-opened="true">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-office-building"></i>发酵罐一</template>
                        <el-submenu index="1-1">
                            <template slot="title"><i class="el-icon-menu"></i>历史数据显示</template>
                            <el-menu-item index="1-1-1">
                                <i class="el-icon-tickets"></i>
                                <a @click="User_Box1_table">表格</a>
                            </el-menu-item>
                            <el-menu-item index="1-1-2">
                                <i class="el-icon-data-line"></i>
                                <a @click="User_Box1_line">折线图</a>
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item index="1-2">
                            <i class="el-icon-stopwatch"></i>
                            <a @click="User_Box1_chart">仪表盘</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">

                        <template slot="title"><i class="el-icon-office-building"></i>发酵罐二</template>
                        <el-submenu index="2-1">
                            <template slot="title"><i class="el-icon-menu"></i>历史数据显示</template>
                            <el-menu-item index="2-1-1">
                                <i class="el-icon-tickets"></i>
                                <a @click="User_Box2_table">表格</a>
                            </el-menu-item>
                            <el-menu-item index="2-1-2">
                                <i class="el-icon-data-line"></i>
                                <a @click="User_Box2_line">折线图</a>
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item index="2-2">
                            <i class="el-icon-stopwatch"></i>
                            <a @click="User_Box2_chart">仪表盘</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-office-building"></i>发酵罐三</template>
                        <el-submenu index="3-1">
                            <template slot="title"><i class="el-icon-menu"></i>历史数据显示</template>
                            <el-menu-item index="3-1-1">
                                <i class="el-icon-tickets"></i>
                                <a @click="User_Box3_table">表格</a>
                            </el-menu-item>
                            <el-menu-item index="3-1-2">
                                <i class="el-icon-data-line"></i>
                                <a @click="User_Box3_line">折线图</a>
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item index="3-2">
                            <i class="el-icon-stopwatch"></i>
                            <a @click="User_Box3_chart">仪表盘</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-office-building"></i>发酵罐四</template>
                        <el-submenu index="4-1">
                            <template slot="title"><i class="el-icon-menu"></i>历史数据显示</template>
                            <el-menu-item index="4-1-1">
                                <i class="el-icon-tickets"></i>
                                <a @click="User_Box4_table">表格</a>
                            </el-menu-item>
                            <el-menu-item index="4-1-2">
                                <i class="el-icon-data-line"></i>
                                <a @click="User_Box4_line">折线图</a>
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item index="4-2">
                            <i class="el-icon-stopwatch"></i>
                            <a @click="User_Box4_chart">仪表盘</a>
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <div>

                    <div>
                        <v-chart :options="ce1" />
                    </div>

                    <el-row :gutter="20">
                        <el-col :span="12">
                            <div>
                                <v-chart :options="ce2" />
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div>
                                <v-chart :options="ce3" />
                            </div>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <div>
                                <v-chart :options="ce4" />
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div>
                                <v-chart :options="ce5" />
                            </div>
                        </el-col>
                    </el-row>

                    <div>
                        <v-chart :options="ce6" />
                    </div>



                </div>
            </el-main>
        </el-container>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            components: {
                'v-chart': VueECharts
            },
            data() {
                return {
                    PH: [],
                    CO2: [],
                    O2: [],
                    CH3CH2OH: [],
                    CH3CH2COOH: [],
                    pressure: [],
                    Box: {
                        'id': 0,
                        'PH': 0,
                        'CO2': 0,
                        'O2': 0,
                        'CH3CH2OH': 0,
                        'CH3CH2COOH': 0,
                        'pressure': 0,
                        'time': ''
                    },
                    ce1: {
                        title: {
                            text: '酸碱度',
                        },
                        series: [{
                            min: 0,
                            max: 14,
                            data: this.PH,
                            type: 'gauge'
                        }]
                    },
                    ce2: {
                        title: {
                            text: 'CO2浓度',
                        },
                        series: [{
                            min: 0,
                            max: 100,
                            data: this.CO2,
                            type: 'gauge'
                        }]
                    },
                    ce3: {
                        title: {
                            text: 'O2浓度',
                        },
                        series: [{
                            min: 0,
                            max: 100,
                            data: this.O2,
                            type: 'gauge'
                        }]
                    },
                    ce4: {
                        title: {
                            text: 'CH3CH2OH浓度',
                        },
                        series: [{
                            min: 0,
                            max: 100,
                            data: this.CH3CH2OH,
                            type: 'gauge'
                        }]
                    },
                    ce5: {
                        title: {
                            text: 'CH3CH2COOH浓度',
                        },
                        series: [{
                            min: 0,
                            max: 100,
                            data: this.CH3CH2COOH,
                            type: 'gauge'
                        }]
                    },
                    ce6: {
                        title: {
                            text: '压强'
                        },
                        series: [{
                            name: 'pressure',
                            data: this.pressure,
                            type: 'gauge'
                        }],

                    },

                }
            },
            mounted() {

                setInterval(() => {
                    // this.data = [];
                    axios
                        .get('/Box3')
                        .then(response => (this.Box = response.data))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                    for (var i = this.Box.length; i <= this.Box.length; i++) {
                        this.PH.push(this.Box[this.Box.length - i].PH)
                        this.time.push(this.Box[this.Box.length - i].time)
                        this.CO2.push(this.Box[this.Box.length - i].CO2)
                        this.CH3CH2COOH.push(this.Box[this.Box.length - i].CH3CH2COOH)
                        this.O2.push(this.Box[this.Box.length - i].O2)
                        this.CH3CH2OH.push(this.Box[this.Box.length - i].CH3CH2OH)
                        this.pressure.push(this.Box[this.Box.length - i].pressure)
                    }
                    this.ce1.series[0].data = this.PH
                    this.ce2.series[0].data = this.CO2
                    this.ce3.series[0].data = this.O2
                    this.ce4.series[0].data = this.CH3CH2OH
                    this.ce5.series[0].data = this.CH3CH2COOH
                    this.ce6.series[0].data = this.pressure
                    this.PH = [];
                    this.CO2 = [];
                    this.CH3CH2COOH = [];
                    this.CH3CH2OH = [];
                    this.O2 = [];
                    this.time = [];
                    this.pressure = [];

                }, 100)

            },
            watch: {
                curpage: function (oldValue, newValue) {
                    console.log(arguments);
                }
            },
            methods: {
                User_Box1_table: function () {
                    location.href = '/User_Box1_table';
                },
                User_Box1_chart: function () {
                    location.href = '/User_Box1_chart';
                },
                User_Box1_line: function () {
                    location.href = '/User_Box1_line';
                },
                User_Box2_table: function () {
                    location.href = '/User_Box2_table';
                },
                User_Box2_chart: function () {
                    location.href = '/User_Box2_chart';
                },
                User_Box2_line: function () {
                    location.href = '/User_Box2_line';
                },
                User_Box3_table: function () {
                    location.href = '/User_Box3_table';
                },
                User_Box3_chart: function () {
                    location.href = '/User_Box3_chart';
                },
                User_Box3_line: function () {
                    location.href = '/User_Box3_line';
                },
                User_Box4_table: function () {
                    location.href = '/User_Box4_table';
                },
                User_Box4_chart: function () {
                    location.href = '/User_Box4_chart';
                },
                User_Box4_line: function () {
                    location.href = '/User_Box4_line';
                },
            }
        })
    </script>
</body>

</html>